/* Start Variables */
:root {
  --first_col: #1faae3;
  --med_txt_col: #747576;
  --light-btn-back: #f6f6f6;
  --sec_padd: 30px 0;
  --head_col: #4c4c4d;
}
/* end Variables */

/* Start Global Vaulues */
* {
  scroll-behavior: smooth;
  -o-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
HTML {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family:Arial, Helvetica, sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px){
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
ul {
  list-style: none;
}
/* End Global Vaulues */
/* Start Social & options */
.social {
  min-height: 60px;
  background-color: #f0f0f0; 
}
.social .container {
  display: flex;
  min-height: 60px;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .social .container {
    justify-content: center;
  }
}
.social .option {
  padding: 10px 0;
}
.social .option ul {
  display: flex;
  flex-direction: row;
}
.social .option ul li.opt-but {
  padding: 5px 10px;
  margin: 0 4px;
  color: var(--med_txt_col);
  background-color: #fff;
  border-radius: 3px;
  transition: all 0.3s ease;
  transition-property: background-color, color, transform;
  position: relative;
}
.social .option ul li.opt-but:hover {
  transform: translateY(-3px);
  cursor: pointer;
  color: white;
  background-color: var(--first_col);
}
.social .option ul li.opt-but i {
  color: var(--first_col);
  transition: all .5s ease;
  transition-property: color, box-shadow;
}
.social .option ul li.opt-but:hover i {
  color: #fff;
}
.social .option ul li.opt-but span {
  font-weight: bold;
}
.social .option ul li.opt-but .arrow-left {
  transition: transform 0.3s ease;
}
.social .option ul li.opt-but:hover .arrow-left{
  transform: rotate(-90deg)
}
.social .option li.burg {
  position: absolute;
  left: 30px;
  top: 20px;
  color: var(--med_txt_col);
  transition: all 0.3s ease-in-out;
  transition-property: color, transform;
  font-size: 22px;
  display: none;
}
.social .option i.burg:hover {
  color: var(--first_col);
  transform: rotate(-90deg);
}
@media (max-width: 767px) {
  .social .option .butts i.burg {
    display: block;
  }
  .social .option ul {
    flex-direction: column;
    position: absolute;
    left: 20px;
    top: 60px;
    border: 1px solid #bbb9b9;
    border-radius: 3px;
    display: none;
  }
  .social .option .burg-menu:hover ul.butts {
    display: block;
  }
  .social .option ul li.opt-but:not(:last-of-type) {
    border-bottom: 1px solid #bbb9b9;
  }
  .social .option ul li.opt-but {
    border-radius: 0;
    margin: 0px;
    padding: 15px 10px;
  }
  .social .option ul li.opt-but:hover {
    transform: none;
  }
}
.social .option ul li.opt-but ul.fold-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 115%;
  left: 0;
  background: #fff;
  color: #7e7c7c;
  border: 1px solid #bbb9b9;
  border-top-color: var(--first_col);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all 0.5s ease;
  display: none;
}
.social .option ul li.opt-but:hover ul.fold-list,
.social .option ul li.opt-but:focus ul.fold-list, 
.social .option ul li.opt-but:focus-within ul.fold-list {
  display: block;
}
.social .option ul li.opt-but ul.fold-list li {
  padding: 10px;
  transition: all 0.3s ease;
  transition-property: color,background-color,border,padding-left;
}
.social .option ul li.opt-but ul.fold-list li:hover {
  color:white;
  background-color: var(--first_col);
  border: none;
  padding-left: 15px;
}
.social .option ul li.opt-but ul.fold-list li:not(:last-of-type) {
  border-bottom: 1px solid #bbb9b9;
}
.social .social-links {
  height: 64px;
}
.social .social-links .icons {
  height: 100%;
}
.social .social-links .icons ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.social .social-links .icons ul li {
  transition: 0.3s ease;
  transition-property: box-shadow, background-color;
  font-size: 1.2em;
  padding: 20px;
  position: relative;
}
.social .social-links .icons ul li:first-of-type {
  color: #2b75b2;
}
.social .social-links .icons ul li:nth-of-type(2) {
  color: #20aae2;
}
.social .social-links .icons ul li:nth-of-type(3) {
  color: #de4b78;
}
.social .social-links .icons ul li:last-of-type {
  color: #36b4e6;
}
.social .social-links .icons ul li a {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.social .social-links .icons ul li:not(:nth-of-type(2),:nth-of-type(4)) {
  border-left: 1px solid #cfcece;
  border-right: 1px solid #cfcece
}
.social .social-links .icons ul li:last-of-type {
  border-right: 1px solid #cfcece;
}
.social .social-links .icons ul li:hover {
  box-shadow: inset 0 0 10px 2px rgba(116, 115, 115, 0.329);
  background-color: #e6e4e4;
  border-bottom: 3px solid var(--first_col);
}
/* End Social & options */
/* Start head section */
.head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #ddd;
  padding: 0 15px;
}
@media (max-width: 767px) { /* Bootsrap [3] Standards*/
  .head {
    flex-direction: column;
    min-height: 400px;
    align-items: center;
  }
}
.head .logo {
  flex-basis: 45%;
}
.head .logo img {
  width: 260px;
  height: 220px;
  transition: opacity 0.3s;
}
.head .logo img:hover {
  opacity: 0.8;
}
.head .info {
  flex-basis: 45%;
}
.head .info ul.info-icons {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.head .info ul.info-icons .ico {
  font-size: 1.6em;
  padding: 0 25px;
}
.head .info ul.info-icons .ico a:not(li.active a) {
  color: var(--med_txt_col);
}
.head .info ul.info-icons li.active {
  color: var(--first_col);
  position: relative;
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
}
.head .info ul.info-icons li a {
  color: var(--first_col)
}
.head .info ul.info-icons li.active::before {
  content: attr(data-text);
  position: absolute;
  top: -250%;
  left: -100%;
  width: 200px;
  padding: 10px 15px;
  color: var(--med_txt_col);
  font-size: 18px;
  text-align: center;
  border: 3px solid #ddd;
  border-radius: 8px;
}
.head .info ul.info-icons li.active::after {
  content: '';
  position: absolute;
  top: -100%;
  left: -100%;
  transform: translatex(245%);
  border-width: 20px;
  border-style: solid;
  border-color: #ddd transparent transparent transparent
}
.head .info ul.info-icons .ico i {
  transition: color 0.3s ease
}
.head .info ul.info-icons .ico:hover:not(:nth-of-type(2)) i {
  color: #b4b4b4
}
/* End head section */
/* Start navbar */
nav {
  min-height: 68px;
}
nav .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) { /* Bootsrap (3) standards*/
  nav .container{
    height: 68px;
    padding: 0;
  }
}
nav .container .list {
  position: relative;
}
nav .container .links {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991px) {
  nav .container .links {
    flex-direction: column;
    background-color: white;
    width: 230px;
    position: absolute;
    top: 68px;
    left: 10px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    overflow: hidden;
    z-index: 10;
  }
  nav .container .list {
    width: 100px;
  }
}
nav .container .list i {
  padding: 10px;
  position: absolute;
  top: 25%;
  left: 35%;
  background-color: #eee;
  color: var(--first_col);
  border-radius: 5px;
  transition: 0.3s;
  transition-property: transform, box-shadow;
  border: 3px solid #ddd;
  display: none;
  z-index: 10;
}
nav .container .list:hover i {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 14px 1px #8b8b8b91;
}
@media (max-width: 991px) {
  nav .container .list i {
    display: block;
  }
}
nav .container .links li {
  padding: 25px 10px;
  font-size: 15px;
  transition: all 0.3s ease;
  transition-property: color, background-color;
  position: relative;
  overflow: hidden;
}
nav .container .links li a:not(a.active) {
  color: var(--med_txt_col);
  text-decoration: none;
}
nav .container .links li:not(:nth-of-type(2),:nth-of-type(4),:nth-of-type(6)) {
  border-left: 2px solid #ddd;
  border-right: 2px solid #ddd;
}
nav .container .links li:last-of-type {
  border-right: 2px solid #ddd;
}
nav .container .links li.active {
  text-transform: uppercase;
}
nav .container .links li.active,
nav .container .links li:hover {
  color: var(--first_col);
  cursor: pointer;
  border-top: 2px solid var(--first_col);
  background-color: var(--light-btn-back)
}
nav .container .links li.active::before{
  bottom: -5px;
  left: 50%;
  transform: translatex(-50%);
}
nav .container .links li:before {
  content: '';
  border-width: 15px;
  border-color: transparent transparent var(--first_col) transparent;
  border-style: solid;
  position: absolute;
  bottom: -50%;
  left: 50%;
  transform: translatex(-50%);
  transition: 0.3s;;
}
nav .container .links li:hover:before {
  bottom:-5px;
}
@media (max-width: 991px) {
  nav .container .links {
    visibility: hidden;
  }
  nav .container .links li{
    min-width: 100%;
    transition-property: color, background-color, padding;
  }
  nav .container .links li:not(:nth-of-type(2),:nth-of-type(4),:nth-of-type(6)) {
    border-left: none;
    border-right: none;
  }
  nav .container .links li.active,
  nav .container .links li:hover {
    padding-left: 25px;
  }
  nav .container .list:hover .links {
    visibility: visible;
  }
}
nav .container .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
nav .container .search i {
  color: var(--med_txt_col);
  font-size: 18px;
  transition: color,transform 0.3s ease;
}
nav .container .search:hover i {
  color: var(--first_col);
  transform: rotate(90deg);
}
nav .container .search input[type = search] {
  height: 100%;
  padding: 10px 15px;
  border: none;
  transition: 0.3s ease;
}
@media (max-width: 991px) {
  nav .container .search i {
    padding: 0 30px;
  }
  nav .container .search input[type = search] {
    padding: 10px;
    position: absolute;
    bottom: -80px;
    right: 50%;
    z-index: 10;
    border-radius: 5px;
    opacity: 0;
  }
  nav .container .search:hover input[type = search] {
    opacity: 1;
  }
}
nav .container .search input[type = search]:focus {
  outline:none;
  caret-color: var(--first_col);
  -o-caret-color: var(--first_col);
  -moz-caret-color: var(--first_col);
  -webkit-caret-color: var(--first_col);
}
/* End navbar */
/* Start header */
header {
  position: relative;
}
.header {
  min-height: 600px;
  background: url(../imgs/Header_bg.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 0 100%, 40% 80%, 100% 70%, 100% 0);
}
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0,0.5);
} 
@media (max-width: 776px) {
  header .header {
    clip-path: polygon(0 0, 0 100%, 50% 90%, 100% 100%, 100% 0);
  }
}
.header .content {
  padding: 20px;
  color: white;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-70%);

}
@media (max-width: 776px) {
  .header .content {
    top: 10%;
    min-width: 320px;
    padding: 10px;
  }
}
@media (max-width: 600px) {
  .header .content {
    left: 240px
  }
}
@media (max-width: 360px) {
  .header .content {
    text-align: center;
    left: 225px;;
    width: 250px;
    padding: 0;
  }
}
.header .content h2 {
  font-size: 2.5em;
  text-transform: uppercase;
  position: relative;
}
.header .content h2::before {
  content: attr(data-amp);
  color: var(--first_col);
  position: absolute;
  top: -30%;
  left: 0px;
  font-size: 2.6em;
  opacity: 0.7;
  z-index: -1;
}
.header .content span {
  font-size: 26px;
  font-weight: 100;
  text-indent: 100px;
  letter-spacing: 2px;
  padding-top: 10px;
  display: block;
}
@media (max-width: 1200px) { /* Bootstrap (3) standards*/
  .header .content h2 {
    font-size: 2em
  }
  .header .content span {
    letter-spacing: 1px;
    text-indent: 20px;
    font-size: 20px;
  }
}
@media (max-width: 776px) {
  .header .content h2::before {
    top: 50%;
  }
  .header .content span {
    text-indent: 0;
    padding-top: 20px;
    padding-left: 20px;
  }
} 
header .img-ex {
  width: 600px;
  position: absolute;
  left: 40%;
  bottom: 20%;
  display: flex;
}
@media (max-width: 767px) {
  header .img-ex {
    max-width: 320px;
    left: 10%;
  }
}
header .img-ex .img-one {
  flex-basis: 40%;
  height: 200px;
  position: relative;
  overflow: hidden;
}
@media (max-width: 767px) {
  header .img-ex .img-one {
    flex-basis: 50%;
  }
}
@media (max-width: 1040px) {
  header .img-ex {
    width: 400px
  }
  header .img-ex .img-one {
    flex-basis: 60%;
  }
}
@media (max-width: 370px) {
  header .img-ex {
    left: 0px;
    width: 315px
  }
}
header .img-ex .img-one span {
  background-color: rgba(121, 36, 246, 80%);
}
header .img-ex .img-one span:hover {
  background-color: rgb(119, 35, 246);
}
/* Header componnants */
header .img-ex .img-one img,
header .img-ex .img-two img {
  height: 100%;
  transition: transform 0.4s;
}
@media (max-width: 767px) {
  header .img-ex .img-one img {
    max-width: 110%;
  }
}
header .img-ex .img-one:hover img,
header .img-ex .img-two:hover img {
  transform: rotate(15deg) scale(1.2);
} 
header .img-ex .img-one span,
header .img-ex .img-two span {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: -30%;
  left: 0;
  transition: 0.3s ease-out;
  transition-property: bottom, background-color;
}
header .img-ex .img-one:hover span,
header .img-ex .img-two:hover span {
  bottom: 0;
  cursor: pointer;
} 
header .img-ex .img-one span i,
header .img-ex .img-two span i {
  color: white;
  font-size: 2em;
  transition: 0.3s;
}
header .img-ex .img-one span:hover i,
header .img-ex .img-two span:hover i {
  font-weight: 1000;
}
/* Header componnants */
header .img-ex .img-two {
  overflow: hidden;
  position: relative;
  flex-basis: 40%;
}
@media (max-width: 1040px) {
  header .img-ex .img-two {
    display: none;
  }
}
header .img-ex .img-two span {
  background-color: rgba(51, 81, 129, 80%);
}
header .img-ex .img-two span:hover {
  background-color: rgb(51, 81, 129);
}
header .img-ex .more {
  flex-basis: 90px;
  border:2px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: all 0.3s ease;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
header .img-ex .more:hover {
  position: relative;
  cursor: pointer;
  flex-grow: 1;
  background-color: var(--light-btn-back);
}
@media (max-width: 767px) {
  header .img-ex .more:hover {
    flex-basis: 100px;
  }
}
header .img-ex .more::before {
  content: 'See More';
  color: #747474;
  position: absolute;
  top: -40px;
  border-radius: 3px;
  border: 1px solid var(--light-btn-back);
  background-color: var(--light-btn-back);
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}
header .img-ex .more::after {
  content: '';
  position: absolute;
  top: -12px;
  border-width: 10px;
  border-color: var(--light-btn-back) transparent transparent transparent;
  border-style: solid;
  opacity: 0;
  transition: opacity 0.3s;
}
header .img-ex .more:hover::after,
header .img-ex .more:hover::before {
  opacity: 1;
}
header .img-ex .more i {
  font-size: 2.5em;
  color: var(--med_txt_col);
  transition: color 0.3s ease;
}
header .img-ex .more:hover i{
  color: var(--first_col);
}
/* End header */
/* Start About-Us */
section.info {
  min-height: 700px;
  padding: var(--sec_padd);
}
section.info .container {
  display: flex;
  flex-direction: column;
}
/*  Add More Here  */
section.info .about {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 40px;
}
@media (max-width: 460px) {
  section.info .about{
    grid-gap: 80px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}
section.info .about .box1,
section.info .about .box2 {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  section.info .about .box1,
  section.info .about .box2 {
    flex-direction: column;
    text-align: center;
  }
}
section.info .about .box1 .icon,
section.info .about .box2 .icon {
  padding: 0 40px;
}
@media (max-width: 991px) {
  section.info .about .box1 .icon,
  section.info .about .box2 .icon {
    margin-bottom: 30px;
    padding: 0 0;
  } 
}
section.info .about .box1 .icon i {
  font-size: 4em;
  color: #fdce0c;
  text-shadow: 0 0 5px #fdce0c;
  padding: 0 40px;
  transition: 0.3s;
  transition-property: text-shadow, transform;
}
section.info .about .box1 .icon:hover i {
  text-shadow: 4px 0px #b17c02;
  transform: scale(1.4) rotate(15deg);
}
section.info .about .box1 article,
section.info .about .box2 article {
  display: flex;
  flex-direction: column;
}
section.info .about .box1 article h2,
section.info .about .box2 article h2 {
  color: var(--head_col);
  margin-bottom: 20px;
}
section.info .about .box1 article p,
section.info .about .box2 article p{
  color: var(--med_txt_col);
  line-height: 1.5em;
}
section.info .about .box2 .icon i {
  font-size: 4em;
  color: #00bfc0;
  padding: 0 40px;
  text-shadow: 0 0 3px #00bfc0;
  transition: 0.3s;
  transition-property: text-shadow, transform;
}
section.info .about .box2 .icon:hover i {
  text-shadow: 3px 3px #0c6464;
  transform: scale(1.4) rotate(15deg);
}
section.info .seperator {
  display: flex;
  margin: 50px 0;
}
section.info .seperator .one {
  width: 100%;
  height: 30px;
  margin: 30px 0;
  background-color: #ddd;
  clip-path: polygon( 0% 100%, 0% 85%, 100% 0%, 100% 10%);
}
section.info .seperator .two {
  width: 100%;
  height: 30px;
  margin: 30px 0;
  background-color: #ddd;
  clip-path: polygon( 100% 100%, 100% 85%, 0% 0%, 0% 10%);
}
/* Fields Section */
@media (max-width: 687px) {
  section.info .our-fields {
    text-align: center;
  }
} 
section.info .our-fields .heading {
  display: flex;
  justify-content: center;
  margin: 0 0 60px;
}
section.info .our-fields .heading .ico {
  padding: 0 40px;
}
@media (max-width: 687px) {
  section.info .our-fields .heading {
    flex-direction: column;
  }
  section.info .our-fields .heading .ico {
    margin-bottom: 40px;
  }
}
section.info .our-fields .heading .ico i {
  color: #89358a;
  font-size: 4em;
  padding: 0 10px;
  text-shadow: 0 0 3px #89358a;
  transition: 0.3s;
  transition-property: text-shadow, transform;
}
section.info .our-fields .heading .ico:hover i {
  text-shadow: 5px 0px 0px #470857;
  transform: scale(1.4) rotate(10deg);
}
section.info .our-fields .heading .text h2 {
  font-size: 2em;
  color: var(--head_col);
}
section.info .our-fields .heading .text p {
  color: var(--med_txt_col);
  line-height: 2em;
}
section.info .our-fields .fields {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 40px;
}
@media (max-width: 360px) {
  section.info .our-fields .fields {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
} 
@media (max-width: 991px) {
  section.info .our-fields .fields {
    grid-gap: 40px 0px;
  }
}
section.info .fields .card {
  display: flex;
}
section.info .fields .card .ico {
  padding: 0 15px;
  flex-basis: 30%;
  font-size: 3em;
  text-align: center;
}
@media (max-width: 687px) {
  section.info .fields .card {
    flex-direction: column;
    justify-content: center;
  }
  section.info .fields .card .ico {
    margin-bottom: 40px;
    padding: 0;
  }
}
@media (max-width: 991px) {
  section.info .fields .card .ico {
    flex-basis: 30%;
  }
}
section.info .fields .card .ico i {
  transition: 0.3s;
  transition-property: text-shadow, transform;
}
section.info .fields .card .ico:hover i {
  transform: scale(1.5) rotate(10deg);
}
section.info .fields .card .txt {
  flex-basis: 70%;
}
section.info .fields .card .txt h3 {
  color:var(--head_col);
  margin-bottom: 15px;
}
section.info .fields .card .txt p {
  line-height: 1.3em;
  color: var(--med_txt_col);
  word-break: break-all;
}
/* ---------- */
section.info .fields .card:first-of-type .ico i {
  color: #0273ec;
  text-shadow: 0 0 3px #0273ec;
}
section.info .fields .card:first-of-type .ico:hover i {
  text-shadow: 3px -3px 0px #084485;
  transform: scale(1.4) rotate(15deg);
}
/* ---------- */
section.info .fields .card:nth-of-type(2)  .ico i {
  color: #8fcb38;
  text-shadow: 0 0 3px #8fcb38;
  background-color: #4d701b;
  border-radius: 5px;
}
section.info .fields .card:nth-of-type(2)  .ico:hover i {
  text-shadow: 4px 0px 0px #4d701b;
} 
/* ---------- */
section.info .fields .card:nth-of-type(3)  .ico i {
  color: #1a4d7c;
  text-shadow: 0 0 3px #1a4d7c;
}
section.info .fields .card:nth-of-type(3)  .ico:hover i {
  text-shadow: 4px 0px 0px #11304d;
}
/* ---------- */
section.info .fields .card:nth-of-type(4)  .ico i {
  color: #465eb6;
  text-shadow: 0 0 3px #465eb6;
}
section.info .fields .card:nth-of-type(4)  .ico:hover i {
  text-shadow: 6px 0px 0px #283977;
}
/* ---------- */
section.info .fields .card:nth-of-type(5)  .ico i {
  color: #ff3300;
  text-shadow: 0 0 3px #ff3300;
}
section.info .fields .card:nth-of-type(5)  .ico:hover i {
  text-shadow: 5px 0px 0px #631a07;
}
/* ---------- */
section.info .fields .card:nth-of-type(6)  .ico i {
  color: #7e332b;
  text-shadow: 0 0 3px #7e332b;
  background-color: #03bff8;
  border-radius: 60%;
}
section.info .fields .card:nth-of-type(6)  .ico:hover i {
  text-shadow: 5px 3px 0px #2c1e1a;
}
/* Fields Section */
/* End About-Us */
/* Location */
/* Location */
/* Start our-projects */
/* Global */
section.our-projects i {
  transition: 0.3s;
  transition-property: text-shadow, transform;
}
/* Global */
section.our-projects {
  padding: var(--sec_padd);
  background: #efefef;
  clip-path: polygon(0 2%, 50% 0, 100% 2%, 100% 100%, 0 100%);
}
.our-projects .container .heading {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}
@media (max-width: 767px) {
  .our-projects .container .heading {
    flex-direction: column;
    text-align: center;
  }
}
.our-projects .container .heading .ico {
  text-align: center;
  padding: 0 30px;
}
@media (max-width: 767px) {
  .our-projects .container .heading .ico {
    margin-bottom: 40px;
  }
}
.our-projects .container .heading .ico i {
  color: #1faae3;
  font-size: 5em;
  text-shadow: 4px 3px 0px #1d7396;
  transition: 0.3s;
  transform: scale(1.4) rotate(15deg);
}
.our-projects .container .heading .text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.our-projects .container .heading .text h2 {
  color: var(--head_col);
  font-weight: bold;
  font-size: 2em;
}
.our-projects .container .heading .text p {
  color: var(--med_txt_col);;
}
.our-projects .container .projects-ex .btns {
  margin: 40px 0;
}
.our-projects .container .projects-ex .btns .shuffle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.our-projects .container .projects-ex .btns .shuffle li button {
  background: none;
  border: 1px solid #cecece;
  border-radius: 1px;
  color: var(--med_txt_col);
  padding: 8px 16px;
  margin: 10px 8px;
  transition: 0.3s;
  transition-property: color;
  position: relative;
  overflow: hidden;
}
.our-projects .container .projects-ex .btns .shuffle li button::before {
  content: '';
  width: 130%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -145%;
  background-color: var(--first_col);
  z-index: -1;
  transform: skew(25deg);
  transition: 0.4s;
}
.our-projects .container .projects-ex .shuffle li button.active,
.our-projects .container .projects-ex .shuffle li button:hover {
  color: white;
  border-color: white;
}
.our-projects .container .projects-ex .btns .shuffle li button.active::before,
.our-projects .container .projects-ex .btns .shuffle li button:hover::before {
  left: -18%;
} 
.our-projects .container .projects-ex .projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 20px;
}
.our-projects .container .projects-ex .projects .box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  padding: 15px 15px;
  box-shadow: 0 0 11px 7px #ddd;
  border: 1px solid rgb(216, 214, 214);
  border-radius: 5px;
}
.our-projects .container .projects-ex .projects .box .img img {
  width: 100%;
  height: 300px;
  transition: 0.4s;
  transition-property: transform;
}
.our-projects .container .projects-ex .projects .box .img {
  position: relative;
  overflow: hidden;
}
.our-projects .container .projects-ex .projects .box .img::before {
  content: '';
  width: 100%;
  height: 130%;
  position: absolute;
  top: -148%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.514);
  transition: 0.4s;
  transform: skewy(20deg);
  z-index: 4;
}
.our-projects .container .projects-ex .projects .box .img:hover img {
  transform: scale(1.4) rotate(20deg);
}
.our-projects .container .projects-ex .projects .box .img:hover::before{
  top: -15%;
}
.our-projects .container .projects-ex .projects .box .edit-ico {
  display: flex;
  justify-content: space-between;
}
.our-projects .container .projects-ex .projects .box .edit-ico i {
  padding: 20px 40px;
  font-size: 1.5em;
  color: var(--med_txt_col)
}
.our-projects .container .projects-ex .projects .box .edit-ico i:hover {
  color: var(--head_col);
  transform: scale(1.2) rotate(5deg);
  cursor: pointer;
}
/* End our-projects */
/* Start Members */
section.team {
  padding: var(--sec_padd);
}
.team .container .heading {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .team .container .heading {
    flex-direction: column;
    text-align: center;
    margin: 40px 0;
  }
}
.team .container .heading .ico img {
  width: 200px;
}
.team .container .heading .text {
  display: flex;
  flex-direction: column;
}
.team .container .heading .text h2 {
  color: var(--head_col);
  margin-bottom: 20px;
  font-size: 2em;
}
.team .container .heading .text p {
  color: var(--med_txt_col);
}
.team .container .members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 15px;
  margin: 30px 0;

}
.team .container .members .box {
  background: #e2e2e2;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  min-height: 350px;
}
.team .container .members .box:hover {
  cursor: pointer;
}
.team .container .members .box .profile {
  padding: 20px 0;
}
.team .container .members .box .profile img {
  height: 120px;
  width: 120px;
  border: 5px solid #fff;
  border-radius: 50%;
  transition: 0.5s;
}
.team .container .members .box:hover img{
  box-shadow: 0 0 1px 250px var(--first_col);
}
.team .container .members .box .profile p,
.team .container .members .box .profile span,
.team .container .members .box .social ul i {
  transition: 0.3s;
}
.team .container .members .box .profile p {
  color: var(--head_col);
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5em;
}
.team .container .members .box:hover .profile p,
.team .container .members .box:hover .profile span {
  color: white;
}
.team .container .members .box .profile span {
  color: var(--med_txt_col);
  font-size: 14px;
}
.team .container .members .box .social-media {
  padding: 20px 0;
}
.team .container .members .box .social-media ul {
  background: #fff;
  display: flex;
  justify-content: center;
  z-index: 10;
}
.team .container .members .box .social-media ul i {
  padding: 10px;
  font-size: 1.3em;
  color: var(--med_txt_col);
}
.team .container .members .box:hover .social-media ul i {
  color: white;
  transition: 0.3s;
}
.team .container .members .box .social-media ul i:hover {
  text-shadow: -2px 2px 0px #474747;
  transform: scale(1.4) rotate(25deg);
}
/* End Members */
/* Start Location */
section.location {
  min-height: 400px;
  background: #ddd;
}
/* End Location */
/* Start Footer */
footer {
  background: #2b2b2b;
  color: white;
  padding: var(--sec_padd);
  display: flex;
  justify-content: space-around;
  padding-left: 15px;
  padding-right: 15px;
}
footer .media-copy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 995px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
  footer .media-copy {
    margin: 30px 0;
  }
}
footer .media-copy ul {
  display: flex;
  justify-content: flex-start;
}
@media (max-width: 995px) {
  footer .media-copy ul {
    justify-content: center;
    margin: 20px 0;
  }
}
footer .media-copy ul li:not(:nth-of-type(2), :last-of-type) {
  border-left: 1px solid var(--med_txt_col);
  border-right: 1px solid var(--med_txt_col);
}
footer .media-copy ul li:last-of-type {
  border-right: 1px solid var(--med_txt_col);
}
footer .media-copy ul li i {
  color: var(--med_txt_col);
  padding: 10px 15px;
  font-size: 1.4em;
  transition: 0.3s;
  transition-property: color, text-shadow, transform;
}
footer .media-copy ul li i:hover {
  color: white;
  text-shadow: -3px 1px var(--first_col);
  transform: scale(1.3) rotate(20deg);
  cursor: pointer;
}
footer .media-copy p {
  color: var(--med_txt_col);
  font-size: 12px;
}
footer .mail-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 50%;
}
footer .mail-links form i {
  transform: translateX(40px);
  color: var(--med_txt_col);
}
footer .mail-links form {
  position: relative;
  overflow: hidden;
}
footer .mail-links form input {
  color: var(--med_txt_col);
  transition: 0.3s;
}
footer .mail-links form input:focus {
  outline: none;
}
footer .mail-links form input[type = email] {
  background: #3a3a3a;
  width: 80%;
  border: none;
  border-left: 5px solid var(--first_col);
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 15px 40px;
  color: var(--med_txt_col);
}
footer .mail-links form input[type = submit] {
  background: #515050;
  color: #ddd;
  border: none;
  transform: translateX(-100px);
  padding: 6px 22px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: color, background-color;
}
@media (max-width: 515px) {
  footer .mail-links form i {
    position: absolute;
    top: 50%;
    transform: translateX(0) translatey(-50%);
    left: 10px;
  }
  footer .mail-links form input[type = email] {
    width: 100%;
  }
  footer .mail-links form input[type = submit] {
    position: absolute;
    top: 50%;
    transform: translateX(0) translatey(-50%);
    right: 10px;
  }
}
@media (max-width: 400px) {
  footer .mail-links form input[type = submit] {
    box-shadow: 0px 0px 40px 60px #191919;
  }
}
footer .mail-links form input[type = submit]:hover {
  color: #2c2c2c;
  background-color: #5f5f5f;
  cursor: pointer;
}
footer .mail-links .pages {
  margin-top: 110px
}
footer .mail-links .pages ul {
  display: flex;
  justify-content: flex-end;
  color: var(--med_txt_col);
  font-size: 14px;
}
@media (max-width: 995px) {
  footer .mail-links .pages ul {
    justify-content: center;
  }
}
footer .mail-links .pages ul li {
  padding: 0 5px;
  transition: color 0.3s ease;
}
footer .mail-links .pages ul li:hover {
  color: #ddd;
  cursor: pointer;
}
/* End Footer */